@media only screen and (min-width: 64rem) {

    /*------NAVIGATION------*/
    nav ul li a {
        padding: .5rem 1rem;
    }
    nav button {display: none;}

    .coast-picture img {
        max-width: 600px;
      }

    }