@media only screen and (min-width: 64rem) {

    /*------NAVIGATION------*/
    nav ul li a {
        padding: .5rem 1rem;
    }
    nav button {display: none;}


    


    /*-----------CONTAINER----------*/

    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /*-----COAST-------*/
    .coast-picture img {
        max-width: 600px;
      }
    .coast {
        grid-column:1/4 ;
        grid-row: 1;
    }
    /*-----WEATHER-------*/
    .weather-container {
        grid-column:1/3 ;
        grid-row: 2;
    }

    /*-----MIX-------*/
    .mix {
        grid-column:3/4 ;
        grid-row: 2;
    }

    div.mix {
        display: flex;
        flex-direction: column;
      }
    }