@media  only screen and (min-width: 32.5em){
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 300px;
      }
    .p-footer-2{
        font-size: 22px;
      }  
      
    .social-box {
        display: grid;
        height: 150px;      
      }
    .p-footer-1{
        font-size: 25px;
      }
}