@media only screen and (min-width: 60em) {
    body {
        max-width: 1000px;
        margin: 0 auto;  
    }
    
    main {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: center;
        margin: auto;
    }
    
    img {
        max-width: 270px;
    }
    
    .section-3 {
        grid-column: span 1;
    }
}

