header{
    width: 100%;
    text-align: center;

}

body{
    margin: 0;
    background-color:antiquewhite;
}


main{
    margin: 3rem;

}

section{
    background-color: rgb(98, 165, 181);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 5px solid rgba(187, 177, 34, 0.333)8;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .6rem;
    
}

.cards img{
    border-radius: 5px;
    box-shadow: 1px 3px 8px 2px rgba(187, 177, 34, 0.333);
    width: 100%;
}

footer{
    background-color:rgb(98, 165, 181);
    text-align: center;
    margin: 3rem;
}