@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@300&display=swap');

main {
    max-width: 880px;
    padding: 5px;
    margin: 0 auto;

}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
    gap: 10px;
}

.grid {
    border: 1px solid #bbb;
    background-color: rgb(245, 245, 240);

}
.grid2 {
    border: 1px solid #bbb;
    background-color: rgb(245, 245, 240);
}
.join {
    display: none;
}
.spotlights {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 140px;
    height: 280px;
}
.spot1 {
    margin: 10px 10px 5px 10px;
}
.spot2 {
    margin: 5px 10px 10px 10px;
}
.spot3 {
    display: none;
}
header {
	background-color:#83a49c;
	padding: 5px 0;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
    display: grid;
    grid-template-columns: auto auto auto;
}
footer {
    background-color:#83a49c;
	padding: 5px 0;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    flex-direction: column;
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.footer-logo img {
	width: 80px;
	height: auto;
}

.footer-headings {
	display: flex;
	flex-direction: column;
    text-align: center;
}

.footer-headings h1 {
	font-size: 1.5rem;
}

.info{
    text-align: center;
}
.info p {
    padding-top: 10px;
}
.info2 {
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #bbb;
    padding: 5px;
    margin: 10px;
}

#lastModified {
    text-align: center;
}
.date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #84a59d;
    grid-row: 2;
    grid-column: 1/4;
    text-align: center
}

h1,h2,h3,h4,h5,h6 {
    font-family: "EB Garamond", Georgia, serif;
    font-size: 1.5em;
  }

p, li {
    font-family: Verdana, Helvetica, sans-serif;
  }

.logo {
	display: flex;
	align-items: left;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
    justify-content: center;
}

.headings h1 {
	font-size: 1.5rem;
}

.social {
	margin-right: 1.5rem;
    text-align: end;
}


.social svg {
    width: 20px;
    height: auto;
}


  html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

  /*----------- apply a natural box layout model to all elements --------------*/
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
 
  
  h1, p {margin: 0 2vw;}
  
  nav button {
      margin: .2rem 2vw;
      background-color: transparent;
      border: none;
      font-size: 2rem;
      color: #555;
      float: right;
  }
  
  nav{ 
    background-color: transparent;
  }
  
  nav ul {
      list-style-type: none;
      padding: 0; 
      margin: 0;
  }
  
  nav ul li a {
      display: block;
      padding: .8rem 2vw;
      text-decoration: none;
      color: #333;
      border-top: 1px solid rgba(0,0,0,0.5);
  }
  
  nav ul li.active a {
      background-color: rgba(0,0,0,0.2);
      color: #fff;
  }
  
  nav ul li a:hover {
      background-color: rgba(0,0,0,0.3);
      transition: 0.6s ease;
  }
  
  nav ul {display: none;}
  nav ul.open {display: block;}
  
  
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}
  
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

.hamburger-nav {
	background-color:#83a49c;
	padding: 5px 0;
	align-items: center;
	max-width: 900px;
	margin: 0 auto;
}
#visible{
    display: block;
    max-width: 900px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0 auto;

}
.banner{
    display: none;
}

.hero h2{
    width: 80%;
    text-align: center;
    color: antiquewhite;
    position: relative;
    border: 1px solid #bbb;
	top: -70%;
	left: 10%;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px #333;

}

#heroimg {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
  }
  
main a {
    color: rgb(130, 97, 13);
}

.event{
    text-align: center;
    padding: 10px;
}