@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@300&display=swap');
main {
    background-color: white;
    padding: 1em;
  }

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border: 1em;
  }

nav {
    background-color: #36454f;
    text-align: center;
    box-shadow: 0 0 30px #333;
  }
  
nav {
    display: flex;
    flex-direction: column;
  }
  
nav div {
    flex: 1 1 auto;
  }
  
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
nav a:hover {
    background-color: #708080;
    color: yellow;
  }

img {
    width: 150px;
}

.personas-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

div p {
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color:#DD403A;
}
.secondary {
  background-color:#3E363F;
}
.accent1 {
  background-color:#FFFCE8;
}
.accent2{
  background-color:#D8E59F;
}
p.colored {
  background-color:#FFFCE8;
  color:#953D3D;
}
p {
  padding: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 1.5em;
}

p, li {
  font-family: Verdana, Helvetica, sans-serif;
}
